.text-color {
  color: #747bff;
}

.btn-custom {
  height: 2rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #5860f8;
  color: #fff;
  padding: 0.25rem;
}

.btn-custom:hover {
  background-color: #747bff;
  transition: 0.5s;
}
