.form-container {
  text-align: center;
  margin-bottom: 1rem;
}

.profile-header {
  text-align: center;
  margin-bottom: 1rem;
}

.logout {
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  background-color: #646cff;
  display: inline-block;
  margin-left: 0.3rem;
}

.logout:hover {
  background-color: #fff;
  color: #646cff;
}

.nav-link {
  padding: 0;
}

@media (max-width: 480px) {
  .logout {
    padding: 0 0.5rem;
    margin-left: 0;
  }
}
